<div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Make your life an musical journey</h5>
       <div style="display:flex;flex-direction:column">
        <%=link_to "Home",root_path,class:"links" %>
        <% if current_user.present? %>
            <%= link_to "Sell instruments",new_product_path,class:"links" %>
            <%=link_to "Logout", sessions_destroy_path,  method: :delete,class:"links"%>
        <%else%>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#session">
            log in
          </button>
        <%end%>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="margin-right:50px">
      <span class="icon is-small">
        <%=link_to cart_path(current_cart) do %>
          <i class="fa fa-shopping-cart" style="color:#ffc107"></i>
        <%end%>
      </span>
      <%=current_cart.total_item%>
    </div>
  </nav>
</div>
