<div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Make your life an musical journey</h5>
       <div style="display:flex;flex-direction:column">
        <%=link_to "Home",root_path %>
        <% if current_user.present? %>
            <%= link_to "Sell instruments",new_product_path%>
            <%=link_to "Logout", sessions_destroy_path,  method: :delete%>
        <%else%>
          <%=link_to "Log in", "#", data: { toggle:"modal", target:"#session"} %>
        <%end%>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="margin-right:50px;display:flex">
      <span class="icon is-small" style="margin:5px">
          <%=link_to cart_path(current_cart) do %>
          <i class="fa fa-shopping-cart" style="color:#ffc107"></i>
        <%end%>
      </span>
      <p style="color:white;margin:5px">Cart</p>
      <p style="color:white;margin:5px"><%=current_cart.total_item%></p>
    </div>
  </nav>
</div>
