<div class="container" id="banner">
  <div class="d-flex justify-content-center align-items-center flex-column" style="height:100%;width:100%">
    <div class="row">
      <h2>Shop your instruments</h2>
    </div>
    <div class="row">
     <% if current_user %>
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Password</label>
        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
     <%else%>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Get Started!
      </button>
     <%end%>
      <%= render 'shared/modal' %>
      <%= render 'shared/session' %>
      <%= render 'shared/password_forgotten' %>
      </div>
    </div>
  </div>
</div>

<div style="display:flex;width:100vw">
  <%=render 'shared/bar', collection:@categories %>
  <div class="container">
    <%=render 'categories', collection: @categories%>
  </div>
  <div class="container">
    <%=render'products/product', collection:@products%>
  </div>
</div>
    <%= will_paginate(@products,:renderer => WillPaginate::ActionView::LinkRenderer) %>
