<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'instrument.png',class:"d-block w-100" %>
       <div class="carousel-caption d-none d-md-block">
          <h1 class="mb-3">Music touches us emotionally, where words alone can’t.</h3>
          <% unless current_user %>
            <button type="button" class="btn btn-outline-light btn-lg" data-toggle="modal" data-target="#exampleModal">
              Get Started!
            </button>
          <%end%>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'guitarist.png',class:"d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
         <h1>Express yourself through music.</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'funny.png',class:"d-block w-100" %>
       <div class="carousel-caption d-none d-md-block">
         <h1>More about us.</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<%= render 'shared/modal' %>
<%= render 'shared/session' %>
<%= render 'shared/password_forgotten' %>
<%=render 'shared/quote'%>

<%= render 'shared/search' %>


<div class="container-fluid mt-5">
  <div class="row">
    <%=render 'shared/bar', collection:@categories %>
    <div class="row col-lg-10">
      <%=render'products/product', collection:@products%>
    </div>
  </div>
</div>
    <%= will_paginate(@products,:renderer => WillPaginate::ActionView::LinkRenderer) %>

<hr class="my-4">
<figure>
  <div class="fixed-wrap" >
    <div id="fixed">
    </div>
  </div>
</figure>

<%=render "shared/about" %>
<%=render 'shared/footer' %>
