<div class="container" style="margin-top:80px">
  <%= simple_form_for @product do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <%= f.input :brand%>
      <%= f.input :price %>
      <%= f.association :categorie, :collection => Categorie.all%>
      <%= f.input :image, as: :file, label: "upload image" %>
      <%= f.submit "create product", class: "btn btn-primary" %>
  <% end %>
</div>
