<div class="row">
<%@products.each do |product| %>
  <div class="card col-sm-4" style="width: 18rem;">
    <% if product.image.attached? %>
      <%= link_to (image_tag product.display_image, class:"card-img-top"), product_path(product.id) %>
      <%=badge_color(product)%>
    <%end%>
    <div class="card-body">
      <p class="card-text"><%=product.categorie.name%></p>
      <p class="card-text"><%=product.brand%></p>
      <p class="card-text"><%=to_currency(product)%></p>
      <%=can_edit_product(product)%>
    </div>
  </div>
<%end%>
</div>
