<div class="row" style="display:flex;justify-content: center;width:90vw">
<%@products.each do |product| %>
  <div class="card col-lg-3 col-sm-6" style="margin:10px">
    <% if product.image.attached? %>
      <%= link_to (image_tag product.display_image, class:"card-img-top",style:"height:280px"), product_path(product.id) %>
      <%=badge_color(product)%>
    <%end%>
    <div class="card-body">
      <div style="display:flex;justify-content:space-around;">
        <p class="card-text"><%=product.brand%></p>
        <p class="card-text"><%=to_currency(product)%></p>
      </div>
      <div style="display:flex;justify-content:space-around;">
        <%=can_edit_product(product)%>
        <p class="card-text">sold by <%=product.user.name%></p>
      </div>
    </div>
  </div>
<%end%>
</div>
