
<div class="container-fluid padding mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-12 text-md-center p5">
      <%= image_tag @product.display_image, style:"width:400px;height:400px" if @product.image.attached? %>
    </div>
    <div class="col-lg-9 col-md-12 mt-5">
      <%=@product.brand %>  <%=to_currency(@product)%>
      <%=badge_color(@product)%>
      <p>product description</p>
      <%=@product.description%>
      <%= button_to "Add to Card", lineitems_path(product_id:@product.id), :method => "post", class:"btn btn-warning",style:"margin-top:50px;width:10vw" %>
    </div>
  </div>
</div>

